* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
  color: var(--text-light);
  background-color: var(--bg-dark);
  font-family: Arial, Helvetica, sans-serif;
  
  scroll-behavior: smooth;
}
