.card-list {
  font-size: 1em;
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 12.5em;
  height: 12.5em;
  border-radius: 1em;
  
  color: var(--text-light);
  background-color: var(--card-dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 0 25px var(--accent);
  background-color: var(--card-light);
  
  transform: scale(1.05);
}

.card-list a {
  text-decoration: none;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .card {
    height: auto;        /* hoặc 100%, tùy ý bạn muốn full màn hay không */
    width: 40vw;
    aspect-ratio: 1 / 1;
  }
  .card-list {
    font-size: 1.5em;
  }
}

@media (max-width: 740px){
  .card {
    height: auto;        /* hoặc 100%, tùy ý bạn muốn full màn hay không */
    width: 60vw;
    aspect-ratio: 1 / 1;
  }

  .card-list {
    font-size: 2em;
  }
}