.content-section {
  position: relative;
  padding: 2em;

  font-size: 2vw;
}

.content-section__heading {
  padding: 1em;
  font-size: 2em;
  color: var(--accent);
  text-align: center;
}

.content-section__body {
  padding: 0 3em;
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 740px) and (max-width: 1024px){
  .content-section__heading {
      padding: 0.75em;
      font-size: 2.5em;
  }
}

@media (max-width: 740px){
  .content-section__heading {
      padding: 0.5em;
      font-size: 3em;
  }
}