.menu {
  flex: 1;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.menu--pagination {
  margin-top: 0 !important;
}

.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.menu__item {
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: var(--card-dark);
  color: var(--text-light);
  border-radius: 0.5em;
  transition: background-color 0.3s;
}

.menu__item:hover {
  background-color: var(--accent);
}
