.nav {
  padding: 0;
  margin: 0;

  transition: opacity 0.3s ease;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  gap: 2em;
  display: flex;
  list-style: none;
  list-style-type: none;
}

/* --- NAV ITEMS --- */
.nav > li {
  position: relative;
}

.nav li a {
  line-height: 5vh;
  padding: 0 2.5vh;
  
  text-decoration: none;
  color: var(--text-light);
  text-transform: uppercase;
  
  transition: 0.3s;
  
  display: block;
}

.nav > li > a::after {
  left: 50%;
  bottom: 0;
  position: absolute;

  width: 0;
  height: 3px;

  
  content: "";
  background-color: var(--accent);

  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.nav > li > a:hover::after {
  width: 78%;
}

@media (max-width: 740px){
  .nav {
    transition: opacity 0.3s ease, visibility 0s 0.3s;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}