
/* PET ROBOT */
#animal {
  position: absolute;
  z-index: 1000;
  width: 5em;
  height: 5em;
  background-image: url('/assets/image/ai_pet_01.png');/* ảnh pet robot */
  background-size: cover;
  /* pointer-events: none; */
  animation: idleBounce 1.5s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}

#animal:hover {
  cursor: pointer;
}

@keyframes petHit {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(6deg); }
  80% { transform: rotate(-6deg); }
  100% { transform: rotate(0deg); }
}

#animal.tilting {
  animation: petHit 0.6s ease-in-out;
}

/* Hiệu ứng rung nhẹ khi idle */
@keyframes idleBounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* Hiệu ứng phát sáng */
#animal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  box-shadow: 0 0 10px var(--accent);
  border-radius: 50%;
  animation: glowPulse 2s ease-in-out infinite;
  pointer-events: none;
}

@keyframes glowPulse {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

/* SPEECH BUBBLE */
#speech-bubble {
  position: absolute;
  z-index: 999;
  background: var(--bg-dark);
  color: var(--accent);
  border: 1px solid var(--accent);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 1.25em;
  max-width: 200px;
  display: none;
  pointer-events: none;
  box-shadow: 0 0 50px var(--accent);
}
